.BodyBoard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #CAEEEB;
    background-size: cover;
    align-items: center;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contenedor-board-dashboard{
  display: flex;
  align-items:start;
  justify-content:space-around; 
  padding: 2%;
}

.contenedor-dado {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 20px; 
  padding: 10px;
}

.contenedor-dashboard {
  max-width: 35%;
  padding: 20px;
  background-color: #f4f4f484;
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  border: 1px solid #e0e0e0; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.dice-roller-button {
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 1px 3px #50514f;
  outline: none;
  transition: 0.3s;
  background-color: #d95604;
}

.dice-roller-button:hover,
.dice-roller-button:active {
  outline: none;
  background: #50514f;
  cursor: pointer;
  transform: translateY(10px);
}

.board {
    display: grid;
    grid-template-columns: repeat(18, 1fr); /* 18 columnas */
    grid-template-rows: repeat(18, 1fr); /* 18 filas */
    background-color: #000000;
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}

.board-cell {
    max-width: 20px; /* Tamaño de la celda */
    max-height: 20px;
    position: relative;
}

.cell-image {
    width: 100%;
    height: 100%;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 620px; /* Asegura que el contenedor ocupe el ancho completo de la pantalla */
    height: 620px; /* Asegura que el contenedor ocupe la altura completa de la pantalla */
  }
  
  .board-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Marco detrás del tablero */
    pointer-events: none; /* Esto evita que el marco intercepte clics */
  }
  .AllBoard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .MainBoard{
    margin-top: 3%;
    text-align: center;
    align-items: center;
  }

  .resultado{
    padding: 5px;
    margin: 5px;
  }

  .character-board{
    max-width: 20px;
  }

  .card-image{
    max-width: 30px;
    border: 5px solid rgb(0, 208, 255);
  }

  .contenedor-dashboard h2{
    font-family: Muro;
    font-weight: 200;
  }

  .character-turn-order-horizontal {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: top;
    gap: 8px;
    padding: 10px 0;
  }
  
  .character-item-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character-avatar-horizontal {
    width: 60px; /* Ancho del círculo */
    height: 60px; /* Altura igual para círculo perfecto */
    margin-bottom: 5px;
    padding: 0;
    margin: 0;
    border: 2px solid rgb(0, 164, 156); /* Borde opcional */
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Ajusta la imagen al contenedor circular */
    object-position: top; /* Muestra la parte superior de la imagen */
  }
  
  .character-item-horizontal.inactive .character-avatar-horizontal {
    filter: grayscale(100%); /* Aplica blanco y negro */
    opacity: 0.5; /* Opcional: hace más tenue la imagen */
  }
  
  .character-item-horizontal p {
    max-width: 55px;
    font-size: 12px;
    text-align: center;
    margin: 0;
    color: #333; /* Texto en gris oscuro */
  }
  
  .character-item-horizontal.inactive p {
    color: #aaa; /* Texto más claro para personajes inactivos */
  }
  
  /* Estilos generales para el popup */
.popup {
  position: absolute;
  z-index: 20;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  transform: translateY(-50%); /* Centrar el popup verticalmente respecto al dado */
}

/* Contenido del popup */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.text-notas{
  min-width: 250px;
  margin: 10px;
}

/* Botón de cerrar */
.close-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 2px;
  right: 10px;
  color: rgb(119, 119, 119);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos para el botón de notas que abrirá el popup */
.popup-toggle-button {
  background-color: #5bc75f; /* Color verde */
  box-shadow: 0px 7px 30px -10px rgba(28, 120, 126, 0.1);
  font-size: 20px;
  font-weight: 400;
  font-family: Muro, sans-serif; 
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 1.4;
  border-style: outset;
  border-width: 8px;
  border-color: rgb(6, 184, 0);
  border-radius: 4px;
  padding: 5px;
  opacity: 1;
  cursor: pointer;
  align-self: center;
  min-width: 150px;
  width: auto;
  margin: 0px;
  z-index: 4;
  box-sizing: border-box;
}

#username-board{
  font-weight: 700;
  font-size: 15px;
}

.contenedor-mi-personaje {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mi-personaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: outset;
  border-width: 4px;
  border-color: #f4a46a;
  border-radius: 4px;
  padding: 4px;
  background-color: #febd8f; /* Fondo opcional */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mi-personaje p{
  margin: 0;
  margin-top: 1px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}

.mi-personaje-avatar {
  height: 70px;
  object-fit: cover;
}

.mi-personaje-nombre {
  font-size: 14px;
  font-weight: bold;
  color: #303030;
  text-align: center;
}
