.instructions {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #CAEEEB;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    margin-bottom: 2%;
}


.mainInstructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4%;
    padding-top: 0;
}

.imgtablero {
    max-width: 100%;
}

.title {
    font-family:Muro;
    font-size: 60px;
    padding-top: 8%;
    color: #06A196;
    text-align: center;
    margin: 0 auto;
}

.title2 {
    font-family:Muro;
    font-size: 60px;
    padding-bottom: 2%;
    color: #06A196;
    text-align: center;
    margin: 0 auto;
}

.subtitle {
    color: #06A196;
}

.description {
    color: black;
    text-align: justify;
}

.description_container {
    max-width: 50%;
    align-items: center;
    padding: 1%;
    padding-top: 1%;
  }

  .TableroConteinerAbout{
    display: flex;
    max-width: 50%;
    align-items: center;
    padding: 1%;
    padding-top: 1%;
  }