
@font-face {
    font-family: Muro;
    src: url(../fonts/muro/Muro.otf);
}


.headerInstructions {
    backdrop-filter: blur(4px);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.73);
}

nav ul {
    position: sticky;
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centramos los elementos */
}

.links li {
    display: inline-flex;
}

.links a {
    font-family: Muro;
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    transition: font-size 0.3s, color 0.2s;
}

.links a:hover {
    font-size: larger;
    color: #06A196;
    text-decoration: none;
}

#login {
    background-color: #06A196;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    text-shadow: 1px 1px 4px black;
}

#login:hover {
    background-color: #93f0e9;
    text-shadow:none;
}

#signup {
    background-color: #61c8c0;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    text-shadow: 1px 1px 4px black;
}

#signup:hover {
    background-color: #93f0e9;
    text-shadow:none;
}


.instructions {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0%;
    background: #CAEEEB;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}


.mainInstructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.imgtablero {
    max-width: 40%;
    height: auto; /* Mantiene las proporciones */
    padding: 7%;
}


.title {
    font-family:Muro;
    font-size: 60px;
    padding-top: 15%;
    padding-bottom: 5%;
    color: #06A196;
    text-align: center;
    margin: 0 auto;
}

.subtitle {
    color: #06A196;
}

.description {
    color: black;
    text-align: justify;
}

.description_container {
    align-items: center;
    padding: 5%;
    padding-right: 1%;
    padding-top: 1%;
  }