<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como Jugar</title>
    <link rel="stylesheet" href="../assets/styles/instructions.css">
</head>
<body>
    <header>
        <div class="links"></div>
        <nav>
            <ul>
                <div class="links">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="about.html">Nosotros</a></li>
                    <li><a href="instructions.html">Como Jugar</a></li>
                    <li><a href="login.html" id="login">Iniciar Sesión</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <div class="main-div">
    <div>
    <h3 class="title">Como Jugar</h3>
    <p class="description">Aqui te explicamos la mecánica de nuestro juego <strong>Asesinato en el Hospital</strong> 
    </p>
    </div>
    <img src="../assets/images/baord.jpeg"></img>
    </div>
</body>
</html>