
@font-face {
  font-family: Muro;
  src: url(../fonts/muro/Muro.otf);
}

.general {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 2%;
  padding-bottom: 12%;
  background: #CAEEEB;
  background-size: cover;
  margin: 0;
  align-items: center;
}

.registro {
  font-family: Muro;
  font-size: 60px;
  color: #06A196;
  text-align: center; 
  padding: 9%;
  margin: 0 auto;

}

.Login {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: rgba(6, 161, 150, 0.5);

  }

  .Login form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .Login form input[type="text"],
  .Login form input[type="email"],
  .Login form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }

  .Login form input[type="submit"] {
    background-color: #06A196;
    font-family: Muro;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .Login form input[type="submit"]:hover {
    background-color: #187bcd;
  }

  .error {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ff4d4d; /* red */
    border-radius: 5px;
    color: #ff4d4d; /* red */
    background-color: #ffe6e6; /* light red */
    text-align: center;
  }

  .successMsg {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #5cff4d; /* green */
    border-radius: 5px;
    color: #2aff86; /* green */
    background-color: #e9ffe6; /* light green */
    text-align: center;
  }