
@font-face {
    font-family: Muro;
    src: url(../fonts/muro/Muro.otf);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.links li {
    display: inline;
    margin-right: 10px;
}

.links a {
    font-family: Muro;
    color: white;
    text-decoration: none;
}

.links a:hover {
    font-size: larger;
    color: #06A196;    /* cambiar color a uno de la paleta escogida */
    text-decoration: none;
}

#login {
    background-color: #06A196;
    border-radius: 5px;
    padding: 7px;
}

#login:hover {
    font-size: larger;
    color: white;
}


.about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0%;
    background: #CAEEEB;
    background-size: cover;
    margin: 0;
    align-items: center;
}

.title-about {
    font-family: Muro;
    font-size: 50px;
    color: white;
    text-align: center; /* centra el texto */
    padding: 7%;
    margin: 0 auto; /* centra el contenedor */

}

.description {
    text-align: justify;
    padding-left: 5%;
    padding-bottom: 26%;
}