
@font-face {
    font-family: Muro;
    src: url(../fonts/muro/Muro.otf);
}

.headerAbout {
    backdrop-filter: blur(4px);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.73);
}

nav ul {
    position: sticky;
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centramos los elementos */
}

.links li {
    display: inline-flex;
}

.links a {
    font-family: Muro;
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    transition: font-size 0.3s, color 0.2s;
}

.links a:hover {
    font-size: larger;
    color: #06A196;
    text-decoration: none;
}

#login {
    background-color: #06A196;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    text-shadow: 1px 1px 4px black;
}

#login:hover {
    background-color: #93f0e9;
    text-shadow:none;
}

#signup {
    background-color: #61c8c0;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    text-shadow: 1px 1px 4px black;
}

#signup:hover {
    background-color: #93f0e9;
    text-shadow:none;
}


.BodyAbout {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #CAEEEB;
    background-size: cover;
    align-items: center;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 5%;
    width: 100vw; /* Asegura que el contenedor tenga el ancho completo de la ventana */
    height: 100vh;
}

.Mainabout{
    padding-top: 6%;
    text-align: center;
}

.title-about {
    font-family: Muro;
    font-size: 60px;
    color: #06A196;
    text-align: center; 
    margin: auto;
}

.description {
    text-align: center;
    color: black;
    padding: 3%;
}

  .creators-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
  }
  
  .creator {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }
  
  .creator-photo {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 40px;
    padding: 6px;
    border: 5px solid white;
  }
  
  .creator-caption {
    margin-top: 8px;
    font-size: 0.9em;
    color: #555;
  }
  