
@font-face {
    font-family: Muro;
    src: url(../fonts/muro/Muro.otf);
}



nav ul {
    list-style-type: none;
    padding: 0;
}

.links li {
    display: inline;
    margin-right: 10px;
}

.links a {
    font-family: Muro;
    color: white;
    text-decoration: none;
}

.links a:hover {
    font-size: larger;
    color: #06A196;
    text-decoration: none;
}

#login {
    background-color: #06A196;
    border-radius: 5px;
    padding: 7px;
}

#login:hover {
    font-size: larger;
    color: white;
}


.instructions {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0%;
    background: #CAEEEB;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}


.main {
    display: flex;
}

img {
    width: 40%;
    padding: 7%;
}


.title {
    font-family:Muro;
    font-size: 60px;
    padding-top: 15%;
    color: #06A196;
    text-align: center;
    margin: 0 auto;
}

.subtitle {
    color: #06A196;
    padding-left: 5%;
}

.description {
    color: black;
    text-align: justify;
    margin-right: 4%;
    padding-left: 5%;
}