
@font-face {
    font-family: Muro;
    src: url(../fonts/muro/Muro.otf);
}

header {
    backdrop-filter: blur(4px);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

.links li {
    display: inline;
    margin-right: 10px;
}

.links a {
    font-family: Muro;
    color: white;
    text-decoration: none;
}

.links a:hover {
    font-size: larger;
    color: #06A196;
    text-decoration: none;
}

#login {
    background-color: #06A196;
    border-radius: 5px;
    padding: 7px;
}

#login:hover {
    font-size: larger;
    color: white;
}

.landing{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/background.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    font-family: Muro;
    color: white;
    font-size: 40px;
    /*-webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;*/
    text-align: center;
    
}

#game-title {
    font-size: 80px;
}

.description {
    text-align: justify;
    padding: 5%;
}