
@font-face {
    font-family: Muro;
    src: url(../fonts/muro/Muro.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #CAEEEB;
}

.headerLan {
    backdrop-filter: blur(4px);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.73);
}

nav ul {
    padding: 0;
    position: sticky;
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centramos los elementos */
}

.links li {
    display: inline-flex;
}

.links a {
    font-family: Muro;
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    transition: font-size 0.3s, color 0.2s;
}

.links a:hover {
    font-size: larger;
    color: #06A196;
    text-decoration: none;
}

#login {
    background-color: #06A196;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    text-shadow: 1px 1px 4px black;
}

#login:hover {
    background-color: #93f0e9;
    text-shadow:none;
}

#signup {
    background-color: #61c8c0;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    text-shadow: 1px 1px 4px black;
}

#signup:hover {
    background-color: #93f0e9;
    text-shadow:none;
}

.MainLanding {
    background: url(../assets/images/background.jpeg) no-repeat center center;
    background-size: cover; /* Hace que la imagen cubra todo el ancho y alto */
    background-position: center center; /* Centra la imagen */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw; /* Asegura que el contenedor tenga el ancho completo de la ventana */
    height: 100vh;
    display: flex;
    flex-direction: column; /* Permite que los elementos se apilen verticalmente */
    justify-content: space-between; 
}

.title {
    padding-top: 100px;
    font-family: Muro;
    color: white;
    font-size: 80px;
    text-align: center;
    text-shadow: 5px 5px 5px black;

}

.description {
    text-align: center;
    background: linear-gradient(to top, black, transparent); /* Degradado de negro a transparente */
    padding: 7%;
    padding-inline: 15%;
    color: white;
    margin-top: auto; /* Hace que la descripción se quede en la parte inferior */
  }

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 5px 15px;
    font-size: 1em;
    font-family: Muro;
    color: white;
    font-weight: 500;
    background-color: #0ba296;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #98e5db;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }