
@font-face {
    font-family: Muro;
    src: url(../fonts/muro/Muro.otf);
}

body {
    margin: 0;
    padding: 0;
}

.headerLan {
    backdrop-filter: blur(4px);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

.links li {
    display: inline;
    margin-right: 10px;
}

.links a {
    font-family: Muro;
    color: white;
    text-decoration: none;
}

.links a:hover {
    font-size: larger;
    color: #06A196;
    text-decoration: none;
}

#login {
    background-color: #06A196;
    border-radius: 5px;
    padding: 7px;
}

#login:hover {
    font-size: larger;
    color: white;
}

.landing{
    margin: 0;
    background: url(../assets/images/pasillo-oscuro-hospital-salida-emergencia-luz-encima.jpg) #CAEEEB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    padding-top: 100px;
    font-family: Muro;
    color: white;
    font-size: 80px;
    text-align: center;
    
}

.description {
    text-align: justify;
    background-color: rgba(6, 161, 150, 0.7);

    border-radius: 20px;
    padding: 5%;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #CAEEEB;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }